<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
  </head>
  <body>
   <h1>Add New Book</h1>
   <form action="/add_author" method="POST">
  <!-- Add the form here -->
  <form method="POST">
  <label for="isbn">ISBN:</label>
  <input type="text" id="isbn" name="isbn" required><br><br>

  <label for="title">TITLE:</label>
  <input type="TEXT" id="title" name="title" required><br><br>
  <label for="publication_year">Publication _year:</label>
    <input type="number" id="publication_year" name="publication_year"required><br><br>
   <label for="author_id">Select Author:</label>
        <select id="author_id" name="author_id" required>
          <option value="" disabled selected>Select Author</option>
            {% for author in authors %}
                <option value="{{ author.author_id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>
          <button type="submit">Add Book</button>
  </form>
  </body>
</html>
