<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Book Library!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <!-- Sorting  and Search Controls -->
    <form method="GET" action="/">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by" onchange="this.form.submit()">
            <option value="title" {% if sort_by =='title' %} selected {% endif %}>Title</option>
            <option value="author" {% if sort_by =='author' %} selected {% endif %}>Author</option>
        </select>
        <label for="search">Search for a book:</label>
        <input type="text" name="search" id="search" placeholder="Enter book title or author name">
        <button type="submit">Search</button>
    </form>
    <nav>
        <a href="{{  url_for('add_book') }}">Add Book</a>
        <a href="{{  url_for('add_author') }}">Add Author</a>
    </nav>


    {% if books %}
    <div class="book-list">
        {% for book in books %}
            <div class="book">
                <img src="{{ book.cover_image }}" alt="Book Cover">
                <h3><a href="{{url_for('book_detail', book_id=book.book_id) }}">{{ book.title }}</a></h3>
                <p><strong>Author:</strong> {{ book.author.name }}</p>
                <p><strong>ISBN:</strong> {{ book.isbn }}</p>

                <!-- Delete Book Form -->
                <form action="{{ url_for('delete_book', book_id=book.book_id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this book?');">
                    <button type="submit">Delete Book</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No books found. Try adding a book or searching for another title.</p>
{% endif %}


    <footer>
        <p>&copy; 2025 Your Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>